*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}


html, body{
	height: 100%;
	background-color: #DCDCDC;	
}

body{
	overflow-x: hidden;
}

/*Página de login*/

.box-login{
	box-shadow: 10px 10px 5px rgb(200,200,200);
	max-width: 600px;
	width: 95%;
	padding: 60px 2%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	ms-transform: translate(-50%,-50%);
}

.box-login h2{
	text-align: center;
	font-size: 19px;
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: normal;
	color: black;
}

.box-login input[type=text],
.box-login input[type=password]{
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 8px;
}


.box-login input[type=submit]{
	width: 100px;
	height: 40px;
	cursor: pointer;
	margin-top: 8px;
	background-color: #1de986; 
	font-size: 14px;
	color: #fff;
	border: 0;
}


.overlay-load{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0,0,0,0.4);
}
.overlay-load img{
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.situacao{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	z-index: 999;
}


.sitLogin{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	z-index: 999;
}

.sucess{
	background-color: #48f442;
}

.interromped{
	background-color: #f28b04;
	color: #fff;
}

.error{
	background-color: #f10303;
	color: #fff;
}
.alerta-estoque{
	color: red;
}

.teste input{
    width: 62px;
}

.alterarSenha{
	/*box-shadow: 10px 10px 5px rgb(200,200,200); */
    max-width: 600px;
    width: 95%;
    padding: 60px 2%;
    background-color: #fff;
    /* position: absolute; */
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%); */
    /*ms-transform: translate(-50%,-50%);*/
}