/**{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}


.center{margin: 0 auto;}

.w50{width: 50%;}
.w100{width: 100%;}

.left{float: left;}
.right{float: right;}

.clear{clear: both;}

.container{
	position: relative;
	width: 100%;
	background-color: green;
	height: 100%;

}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	background-color: black;
	height: 100%;
}

.content{
	position: relative;
	top: 0;
	left: 20%;
	width: 80%;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 1;
	height: 2000px;
	
}

.content > a{
	color: #fff;
}

.escurecer{display: none;}

@media screen and (max-width:800px){
	.content{left:0;width: 100%;}
	.menu{z-index: 5;width: 200px;}
	.escurecer{position:fixed;top:0;left: 20%;display: block;background-color: rgba(0,0,0,0.5);z-index: 4;width: 80%;height: 100%;}
}*/

*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

body{overflow-x: hidden;}

.center{margin: 0 auto;}

.w50{width: 50%;}
.w100{width: 100%;}
.w48{width: 48%;}

.left{float: left;}
.right{float: right;}

.clear{clear: both;}
.btn-black{background-color: #A9A9A9 !important;}
.top-bar{box-sizing: border-box;padding: 10px;}
.notificacao i, .configuracao i{color: #fff; font-size: 30px; cursor: pointer;margin-left: 20px;}

.foto-perfil{background-image: url('../images/logo.png');background-position: center;background-repeat: none;}
.foto-perfil{box-sizing: border-box;width:130px;height:130px;border-radius: 50%;border: 1px solid #fff;margin:30px auto;}

.informacoes-perfil{margin-bottom:30px;}
.informacoes-perfil p{color:#fff; text-align: center;}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: #708090;
	z-index: 5;
	overflow-y: auto;
	margin-bottom: 25px;
}

.content{
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
	background-color: #C0C0C0;
	z-index: 2;
}

.escurecer{display: none;}
.menu-btn{display: none;}


.estatistica{box-sizing: border-box; margin:0px 10px; background-color: #fff; padding:10px;}

.red{background-color: red;}
.black{background-color: black;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.pink{background-color: pink;}
.entregue{color: green;}

.box{margin:10px auto;}


#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: 	#2F4F4F;
}

#paginacao ul{margin: 0;}


/*MENU ITEM*/

.item h2{
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	background-color: #2f3d42;
	margin:0;
}

.item ul{list-style: none;margin: 0;}

.item ul li{
	border-bottom:1px solid #2f3d42;
	padding: 10px;
}

a{
	color: #fff;
	text-decoration: none;
}

.marcado{color:#fff !important; background-color: #337ab7 !important;}


#pesquisaSlide{width: 80% !important;}




@media screen and (max-width:800px){
	/*.menu{width: 0;z-index: 6;}*/
	.menu{width: 200px;z-index: 6;left: -1000%;}
	.content{left: 0;width: 100%;}
	.escurecer{display: none; z-index: 3;position: fixed; top: 0; width: 100%; height: 100%;
			   background-color: rgba(0,0,0,0.5);}
	.menu-btn{display: block;}
	.menu-btn i{color:#fff;font-size: 30px;cursor: pointer;}
	.quebrar{width: 100%;}
}